{{custom-directory-user user=item.user}}

{{#unless isShowMore}}
  {{#each customDirectoryFields as |f|}}
    <div class="custom-directory-item-info">
      <div class="custom-directory-item-info-left">
        {{i18n (concat "custom_directory." f)}}
      </div>
      <div class="custom-directory-item-info-right">
        {{get item f}}
      </div>
    </div>
  {{/each}}
{{else}}
  {{user-stat value=item.likes_received label="directory.likes_received" icon="heart"}}
  {{user-stat value=item.topic_count label="directory.topic_count"}}
  {{user-stat value=item.post_count label="directory.post_count"}}
  {{user-stat value=item.topics_entered label="directory.topics_entered"}}
  {{user-stat value=item.posts_read label="directory.posts_read"}}
{{/unless}}
